@model JobBoard.UI.MVC.Models.ContactViewModel

@{
	ViewBag.Title = "Help";
}

<main>
	<section class="d-flex justify-content-center" id="positionCreate">
		<article class="col col-md-8">
			<div class="card shadow-lg">
				@using (Html.BeginForm("Help", "Home", FormMethod.Post))
				{
					@Html.AntiForgeryToken()

					<div class="card-body">
						<h5 class="card-title text-center">
							Contact an Administrator
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">@Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" }):</h6>
						<div class="mb-3">
							@Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Subject, null, new { @class = "text-danger" })
						</div>
						<h6 class="card-subtitle mb-2 text-muted">@Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" }):</h6>
						<div>
							@Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "6" })
							@Html.ValidationMessageFor(model => model.Message, null, new { @class = "text-danger" })
						</div>
					</div>
					<div class="card-footer">
						<div class="btn-group">
							<button type="submit" class="btn btn-outline-success">Send</button>
						</div>
						@if (ViewBag.emailError != null)
						{
							<div class="alert alert-danger mt-1">
								@ViewBag.emailError
							</div>
						}
						else if (TempData["emailSuccess"] != null)
						{
							<div class="alert alert-success mt-1">
								@if (TempData["demoMode"] == null)
								{<p>We have recieved your email! Please know that you will receive a response within 1 to 2 business days.</p>}
								else
								{
									<p>Great! Everything checked out; however, the email did not send because we are running in demo mode.</p>
								}
							</div>
						}
					</div>
				}
			</div>
		</article>
	</section>
</main>