@model JobBoard.DATA.EF.OpenPosition

@{
	ViewBag.Title = "Openings";
}

<main>
	<section class="d-flex justify-content-center" id="openingDetails">
		<article class="col col-md-8">
			<div class="card shadow-lg">
				<div class="card-body">
					<h5 class="card-title text-center mb-3">@Html.DisplayFor(model => model.Position.Title)</h5>
					<div class="row mb-3">
						<div class="col-12 col-md-4">
							<h6 class="card-subtitle mb-3 text-muted d-inline">@Html.DisplayNameFor(model => model.Location.Summary):</h6>
							<span class="card-text">@Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.State)</span>
						</div>
						<div class="col-12 col-md-4 text-md-center">
							<h6 class="card-subtitle mb-3 text-muted d-inline">@Html.DisplayNameFor(model => model.Location.OfficeNumber):</h6>
							<span class="card-text">@Html.DisplayFor(model => model.Location.OfficeNumber)</span>
						</div>
						<div class="col-12 col-md-4 text-md-right">
							<h6 class="card-subtitle mb-3 text-muted d-inline">@Html.DisplayNameFor(model => model.Location.ManagerId):</h6>
							<span class="card-text">@Html.DisplayFor(model => model.Location.UserDetail.FullName)</span>
						</div>
					</div>
					<hr />
					<h6 class="card-subtitle mb-3 text-muted">@Html.DisplayNameFor(model => model.Position.Description):</h6>
					<p class="card-text text-justify">@Html.DisplayFor(model => model.Position.Description)</p>
				</div>
				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()
					<div class="card-body">
						<input type="checkbox" class="form-check-inline" id="ensureDelete" required />
						<label for="ensureDelete" class="form-check-label">Delete Opening</label>
					</div>
					<div class="card-footer d-flex">
						<div class="btn-group">
							<button type="submit" class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
							<a href="@Url.Action("Index")" class="btn btn-outline-dark"><i class="material-icons">arrow_back</i></a>
						</div>
					</div>
				}
			</div>
		</article>
	</section>
</main>