@model IEnumerable<JobBoard.DATA.EF.OpenPosition>

@{
	ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Position.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Location.Summary)
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Position.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Location.Summary)
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.OpenPositionId })
				@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
				{
					<span>|</span> @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId })
				}
			</td>
		</tr>
	}

</table>
