@model JobBoard.DATA.EF.Location

@{
	ViewBag.Title = "Locations";
}

<main>
	<section class="d-flex justify-content-center" id="locationDelete">
		<article class="col col-md-8">
			<div class="card shadow-lg">
				<div class="card-body">
					<h5 class="card-title text-center">
						@Html.DisplayFor(model => model.OfficeNumber)
					</h5>
					<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Summary):</h6>
					<p class="mb-3 card-text">@Html.DisplayFor(model => model.Summary)</p>
					<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.ManagerId):</h6>
					<p class="card-text">@Html.DisplayFor(model => model.UserDetail.FullName)</p>
				</div>
				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()
					<div class="card-body">
						<input type="checkbox" class="form-check-inline" id="ensureDelete" required />
						<label for="ensureDelete" class="form-check-label">Delete Location</label>
					</div>
					<div class="card-footer d-flex">
						<div class="btn-group">
							<button type="submit" class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
							<a href="@Url.Action("Index")" class="btn btn-outline-dark"><i class="material-icons">arrow_back</i></a>
						</div>
					</div>
				}
			</div>
		</article>
	</section>
</main>