@model JobBoard.DATA.EF.Location

@{
	ViewBag.Title = "Locations";
}

<main>
	<section class="d-flex justify-content-center" id="locationDetails">
		<article class="col col-md-8">
			<div class="card shadow-lg">
				<div class="card-body">
					<h5 class="card-title text-center">
						@Html.DisplayFor(model => model.OfficeNumber)
					</h5>
					<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Summary):</h6>
					<p class="mb-3 card-text">@Html.DisplayFor(model => model.Summary)</p>
					<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.ManagerId)</h6>
					<p class="card-text">@Html.DisplayFor(model => model.UserDetail.FullName)</p>
				</div>
				<div class="card-footer d-flex">
					<div class="btn-group btn-group-sm">
						<a href="@Url.Action("Index")" class="btn btn-outline-dark"><i class="material-icons">arrow_back</i></a>
					</div>
					@if (Model.OpenPositions.Count == 0)
					{
						<div class="btn-group btn-group-sm ml-auto">
							<a href="@Url.Action("Edit", new { id = Model.LocationId })" class="btn btn-secondary"><i class="material-icons">edit</i></a>
							<a href="@Url.Action("Delete", new { id = Model.LocationId })" class="btn btn-danger"><i class="material-icons">delete</i></a>
						</div>
					}
					else
					{
						<div class="btn-group btn-group-sm ml-auto">
							<button class="btn btn-secondary" disabled><i class="material-icons">edit</i></button>
							<button class="btn btn-danger" disabled><i class="material-icons">delete</i></button>
						</div>
					}
				</div>
			</div>
		</article>
	</section>
</main>