@model IEnumerable<JobBoard.DATA.EF.Location>

@{
	ViewBag.Title = "Locations";
}

<main>
	<section id="locationsList">
		<aside class="card-deck mb-3" id="locationsActions">
			<div class="card shadow col-md-6" id="createLocationCard">
				<div class="card-body">
					<h5>New Location</h5>
					<p>If it's time to add a new location to the Job Board, you've come to the right place.</p>
					@Html.ActionLink("Create Location", "Create", "Locations", null, new { @class = "btn btn-warning" })
				</div>
			</div>
			<div class="card shadow col-md-6" id="createPositionCard">
				<div class="card-body">
					<h5>New Position</h5>
					<p>Are we missing a position from one of Victisoft, Inc.'s locations? Add it to the Job Board!</p>
					@Html.ActionLink("Add Position", "Create", "Positions", null, new { @class = "btn btn-warning" })
				</div>
			</div>
		</aside>

		<ul class="list-group shadow-lg">
			<li class="list-group-item">
				<div class="row text-center font-weight-bold">
					<span class="col-2">@Html.DisplayNameFor(model => model.OfficeNumber)</span>
					<span class="col-5 col-md-4">@Html.DisplayNameFor(model => model.Summary)</span>
					<span class="col-3 d-none d-md-inline-block">@Html.DisplayNameFor(model => model.ManagerId)</span>
					<span class="col-5 col-md-3">Actions</span>
				</div>
			</li>
			@foreach (var item in Model)
			{
				<li class="list-group-item">
					<div class="row">
						<a href="@Url.Action("Details", new { id = item.LocationId })" class="col-2 text-truncate text-nowrap text-center text-reset">@Html.DisplayFor(model => item.OfficeNumber)</a>
						<span class="col-5 col-md-4 text-truncate text-center">@Html.DisplayFor(model => item.Summary)</span>
						<span class="col-3 text-truncate text-center d-none d-md-inline-block">@Html.DisplayFor(model => item.UserDetail.FullName)</span>

						<span class="btn-group btn-group-sm col-5 col-md-3">
							@if (item.OpenPositions.Count == 0)
							{
								<a href="@Url.Action("Edit", new { id = item.LocationId })" class="btn btn-secondary"><i class="material-icons">edit</i></a>
								<a href="@Url.Action("Delete", new { id = item.LocationId })" class="btn btn-danger"><i class="material-icons">delete</i></a>
							}
							else
							{
								<button class="btn btn-secondary" disabled><i class="material-icons">edit</i></button>
								<button class="btn btn-danger" disabled><i class="material-icons">delete</i></button>
							}
						</span>
					</div>
				</li>
			}
		</ul>
	</section>
</main>