@model JobBoard.DATA.EF.UserDetail
@{
	ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
	@using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>Need to make some changes?</h4>
			<hr />
			@Html.ValidationSummary(true)
			@Html.HiddenFor(model => model.UserId)

			<div class="form-group">
				@Html.LabelFor(model => model.FirstName, new { @class = "col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.FirstName)
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.LastName, new { @class = "col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.LastName)
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ResumeFilename, new { @class = "col-md-2" })
				<div class="col-md-10">
					@if (Model.ResumeFilename != null)
					{
						@*<embed src="@Url.Content($"~/Content/resumes/{Model.ResumeFilename}")" />*@
						<canvas id="resumeCanvas"></canvas>
					}
					<input type="file" name="resume" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					@if (TempData["openPosition"] != null)
					{
						<input type="number" value="@TempData["openPosition"]" name="openPositionId" hidden />
						<input type="submit" value="Save and Apply" class="btn btn-default" />
					}
					else
					{
						<input type="submit" value="Save" class="btn btn-default" />
					}
					@if (TempData["success"] != null)
					{
						<span class="label label-success">Success!</span>
					}
				</div>
			</div>
		</div>
	}
</div>

@section scripts {
	<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
	<script>
		var pdfjsLib = window['pdfjs-dist/build/pdf'];

		var loadingTask = pdfjsLib.getDocument("../../Content/resumes/" + "@Model.ResumeFilename");
		loadingTask.promise.then(function (pdf) {
			pdf.getPage(1).then(function (page) {
				var scale = .8;
				var viewport = page.getViewport({ scale: scale });

				var canvas = document.getElementById('resumeCanvas');
				var context = canvas.getContext('2d');
				canvas.height = viewport.height;
				canvas.width = viewport.width;

				var renderContext = {
					canvasContext: context,
					viewport: viewport
				};
				page.render(renderContext);
			});
		});
	</script>
}