@model JobBoard.DATA.EF.Application

@{
	ViewBag.Title = "Review";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Application</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ApplicationId)
		@Html.HiddenFor(model => model.OpenPositionId)
		@Html.HiddenFor(model => model.UserId)
		@Html.HiddenFor(model => model.ApplicationDate)
		@Html.HiddenFor(model => model.ResumeFilename)

		<div class="form-group">
			@Html.LabelFor(model => model.OpenPositionId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DisplayFor(model => model.OpenPosition.Position.Title)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DisplayFor(model => model.UserDetail.FullName)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DisplayFor(model => model.ApplicationDate)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ResumeFilename, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<canvas id="resumeCanvas"></canvas>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ManagerNotes, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ManagerNotes, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ManagerNotes, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ApplicationStatusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("ApplicationStatusId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ApplicationStatusId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
	<script>
		var pdfjsLib = window['pdfjs-dist/build/pdf'];

		var loadingTask = pdfjsLib.getDocument("../../Content/resumes/" + "@Model.ResumeFilename");
		loadingTask.promise.then(function (pdf) {
			pdf.getPage(1).then(function (page) {
				var scale = .8;
				var viewport = page.getViewport({ scale: scale });

				var canvas = document.getElementById('resumeCanvas');
				var context = canvas.getContext('2d');
				canvas.height = viewport.height;
				canvas.width = viewport.width;

				var renderContext = {
					canvasContext: context,
					viewport: viewport
				};
				page.render(renderContext);
			});
		});
	</script>
}
