@model JobBoard.DATA.EF.ApplicationStatus

@{
	ViewBag.Title = "Statuses";
}

<main>
	<section class="d-flex justify-content-center" id="openingDetails">
		<article class="col col-md-8">
			<div class="card shadow-lg">
				<div class="card-body">
					<h5 class="card-title text-center mb-3">@Html.DisplayFor(model => model.StatusName)</h5>
					<div>
						<h6 class="card-subtitle mb-3 text-muted">@Html.DisplayNameFor(model => model.Description):</h6>
						<p class="card-text text-justify">@Html.DisplayFor(model => model.Description)</p>
					</div>
				</div>
				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()
					<div class="card-body">
						<input type="checkbox" class="form-check-inline" id="ensureDelete" required />
						<label for="ensureDelete" class="form-check-label">Delete Position</label>
					</div>
					<div class="card-footer d-flex">
						<div class="btn-group">
							<button type="submit" class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
							<a href="@Url.Action("Index")" class="btn btn-outline-dark"><i class="material-icons">arrow_back</i></a>
						</div>
					</div>
				}
			</div>
		</article>
	</section>
</main>