@model JobBoard.DATA.EF.Position

@{
	ViewBag.Title = "Positions";
}

<main>
	<section class="d-flex justify-content-center" id="positionEdit">
		<article class="col col-md-8">
			<div class="card shadow-lg">
				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.PositionId)

					<div class="card-body">
						<h5 class="card-title text-center">
							Edit Position
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" }):</h6>
						<div class="mb-3">
							@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
						</div>
						<h6 class="card-subtitle mb-2 text-muted">@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" }):</h6>
						<div>
							@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "6" } })
							@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="card-footer d-flex">
						<div class="btn-group">
							<button type="submit" class="btn btn-outline-success"><i class="material-icons">check_circle</i></button>
							<a href="@Url.Action("Index")" class="btn btn-outline-dark"><i class="material-icons">cancel</i></a>
						</div>
						@if (Model.OpenPositions.Count == 0 && User.IsInRole("Admin"))
						{
							<a href="@Url.Action("Delete", new { id = Model.PositionId })" class="btn btn-danger ml-auto"><i class="material-icons">delete</i></a>
						}
						else
						{
							<button class="btn btn-danger ml-auto" disabled><i class="material-icons">delete</i></button>
						}
					</div>
				}
			</div>
		</article>
	</section>
</main>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
